body {
  background-color: #ffffff;
  color: #757575;
  font-family: roboto, sans-serif;
}
ul {
  list-style: none;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  font-letter: 3%;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-color {
  color: #212121;
}
.logo-footer {
  color: #ffffff;
}
/* Site nav */
.link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  font-letter: 2%;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.link:hover {
  color: #2196f3;
}
.link-contact {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  font-letter: 2%;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.link-contact:hover {
  color: #2196f3;
}
/* Герой */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  font-letter: 6%;
  text-decoration: none;
  letter-spacing: 0.06em;
  text-align: center;
}
.button-type {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  font-letter: 6%;
}
.button-type:hover {
  color: #212121;
}

/* Основная информация */

.features-link,
.features-link,
.activity-title,
.team-title,
.person {
  color: #212121;
}
.features-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  font-letter: 3%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-letter: 3%;
  letter-spacing: 0.03em;
}
.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.71;
  font-letter: 3%;
  letter-spacing: 0.03em;
  text-align: center;
}
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.71;
  font-letter: 3%;
  letter-spacing: 0.03em;
  text-align: center;
}
.person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  font-letter: 3%;
  letter-spacing: 0.03em;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  font-letter: 3%;
  letter-spacing: 0.03em;
}
/* footer */
.adress {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-letter: 3%;
  letter-spacing: 0.03em;
  font-style: normal;
}
.mail,
.phone {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-letter: 3%;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
}
.mail:hover {
  color: #2196f3;
}
.phone:hover {
  color: #2196f3;
}
.footer {
  background-color: #2f303a;
}
/* Портфолио */
.button {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
}
.button:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.button:focus {
  color: #212121;
}
.content-tittle {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  font-letter: 6%;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.content-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  font-letter: 3%;
  letter-spacing: 0.03em;
}
